{% extends 'base.html.twig' %}

{% block title %}Saison {{ season.number }} de la série {{ programm.title }}{% endblok %}

{% block body %}<h1>Saison {{ season.number }} de la série {{ program.title }}</h1>
    <p>Ici s'affiche la vue 'season_show.html.twig' de la classe 'program'</p>
{% endblock %}