<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Wild Séries</title>
</head>
<body>
<nav>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="ws-logo" src="{{ asset('build/images/Logo_Road_Trip.jpg') }}" alt="Logo"/> Wild Séries</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item-home">
                        <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16" >
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                        </svg>
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acteurs
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">A-Z</a></li>
                            <li><a class="dropdown-item" href="#">Continent</a></li>
                            <li><a class="dropdown-item" href="#">Années</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Chercher</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Séries
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Comédie</a></li>
                            <li><a class="dropdown-item" href="#">Drame</a></li>
                            <li><a class="dropdown-item" href="#">Romance</a></li>
                            <li><a class="dropdown-item" href="#">Science Fiction</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Autres catégories</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Français
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Anglais</a></li>
                            <li><a class="dropdown-item" href="#">Espagnol</a></li>
                            <li><a class="dropdown-item" href="#">Espéranto</a></li>
                            <li><a class="dropdown-item" href="#">Arrakéen</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">...</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Search form with sign up & sign in links below -->
                <div class="ws-search-signing">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Série, acteur, genre..." aria-label="Search">

                    <!--
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    -->

                    <!-- <button class="btn btn-outline-success" type="submit">
                         Search
                     </button>
                     -->
                </form>
                </div>
            </div>
        </div>

    </nav>

    <div class="ws-signing">
        <div class="inscription">
            <a href="#">Inscription</a>
        </div>
        <div class="connexion">
            <a href="#">Connexion</a>
        </div>
    </div>

    <div class="ws-ma-liste-d-envies">
        <a class="ws-ma-liste-d-envies" href="#">Ma liste d'envies</a>
    </div>

</nav>
</body>
</html>